@charset "utf-8";
/* CSS Document by LVL */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
*{ scroll-behavior: smooth}
body
{
	font-family: "Oxanium", sans-serif;
}
header
{
	background: url("../img/Banner 1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.btn1
{
	padding: 46 174 0;
}
#offsetpanel .btn2
{
	position: absolute;
	width: 1200px;
	height: 290px;
	text-align: left;
	padding: 50px;
}
footer
{
	background: url("../img/IMAGE (11) 1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}